.todoSingle {
  align-items: stretch;
  display: flex;
  /* width: 29.5%; */
  border-radius: 20px;
  padding: 15px 20px;
  margin-top: 15px;
  background-color: aliceblue;
  align-items: center;
  box-sizing: border-box;
  transition: 0.2s all ease-out;
}

.todoSingle:hover,
.todoSingle:active {
  transform: scale(1.01);
  box-shadow: 0 0 5px black;
}

.todoDone {
  color: rgb(223, 223, 223);
  background-color: rgb(80, 153, 38);
}

.todoArchived {
  color: rgb(223, 223, 223);
  background-color: rgb(153, 38, 38);
}

.todoTask {
  width: calc(100% - 105px - 20px);
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
  overflow-wrap: break-word;
}

.todoTask:focus {
  outline: none;
}

.todoSingle div {
  display: flex;
  align-items: center;
}

.icon {
  margin-left: 10px;
  cursor: pointer;
  font-size: 25px;
  line-height: 25px;
}

/* @media (max-width: 1200px) {
  .todoSingle {
    width: 60%;
  }
}

@media (max-width: 700px) {
  .todoSingle {
    width: 100%;
  }
} */
